<div class="container">
  <header class="header">
    <h1>
      Angular Forms Demo
      <span class="lead">Next-Level Accessibility 💪</span>
    </h1>
  </header>
  <main class="main" id="main">
    <app-contact-form></app-contact-form>
    <div class="alert alert-warning">This form is a demo component from the article, <a href="https://medium.com/@svinkle/creating-accessible-forms-with-angular-simply-accessible-c1bc362cf89e">Creating Accessible Forms with Angular</a>. You can check out the <a href="https://github.com/svinkle/angular-forms-next-level-a11y">source code on GitHub</a> as well as the alternate-component form, <a href="https://svinkle.github.io/angular-forms-some-a11y">Angular Forms Demo &ndash; Some Accessibility</a>.</div>
  </main>
</div>
